<% action = @shop.persisted? ? shop_url(@shop) : shops_url %>
<% method = @shop.persisted? ? "put" : "post" %>
<% button_text = @shop.persisted? ? "Update" : "Create" %>

<form action="<%= action %>" method="post" role="form">
  <input
     type="hidden"
     name="_method"
     value="<%= method %>">
        
  <input
     type="hidden"
     name="authenticity_token"
     value="<%= form_authenticity_token %>">

  <div class="form-group"> 
    <label for="shop_name">Name</label>
    <input
       type="text"
       id="shop_name"
       name="shop[name]"
       class="form-control"
       value="<%= @shop.name %>">   
  </div>
  
  <div class="form-group">
    <label for="shop_description">Description</label>
    <textarea
       id="shop_description"
       name="shop[description]"
       class="form-control"
       rows="10"><%= @shop.description || "Tell people what to expect from your shop." %>
    </textarea>
  </div>
  
  <button type="submit" class="btn btn-info"><%= button_text %></button>
</form>