<% action = @shop.persisted? ? shop_url(@shop) : shops_url %>
<% method = @shop.persisted? ? "put" : "post" %>
<% button_text = @shop.persisted? ? "Update" : "Create" %>

<form action="<%= action %>" method="POST">
  <input
     type="hidden"
     name="_method"
     value="<%= method %>">
        
  <input
     type="hidden"
     name="authenticity_token"
     value="<%= form_authenticity_token %>">

  <label for="shop_name">Name</label>
  <input
     type="text"
     id="shop_name"
     name="shop[name]"
     value="<%= @shop.name %>">   
  <br>
  
  <br>
  <label for="shop_description">Description</label>
  <br>
  <textarea
     id="shop_description"
     name="shop[description]"
     rows="10"
     cols="50"><%= @shop.description || "Tell people what to expect from your shop." %>
  </textarea>
  <br>
  
  <br>
  <input type="submit" value="<%=button_text %>">
</form>