<% favorited = (current_user && current_user.favorite_shops.include?(@shop)) %>
<% date_string = "#{ Date::MONTHNAMES[@date.month] } #{ @date.mday }, #{ @date.year }" %>

<div class="row">
  <div id="shop-box" class="well col-md-7 pull-left">
    <div id="toolbar">
      <% if current_user && (current_user.id == @shop.owner_id) %>
        <%= link_to "Add an Item", new_item_url %> |
        <%= link_to "Edit Shop", edit_shop_url(@shop) %>
      <% end %>
    </div> 
    
    <h1><%= @shop.name %></h1>
    
    <div id="shop-description" class="panel">
      <p><%= @shop.description %></p>
    </div>
  
    <button type="submit"
            id="favorite" 
            class="btn btn-default <%= 'hidden' if favorited %>"
            data-id="<%= @shop.id %>">
      ❤ Favorite
    </button>

    <button type="submit"
            id="unfavorite"
            class="btn btn-default <%= 'hidden' unless favorited %>"
            data-id="<%= @shop.id %>">
      ❤ Favorited
    </button>     
  </div>
  
  <div id="owner-box" class="well col-md-4 pull-right">
    <h3>Shop Owner</h3>
    
    <div id="owner-info" class="panel">
      <h4>
        <a href="<%= user_url(@shop.owner) %>">
          <%= @shop.owner.username %>
        </a>
      </h4>
      
      <p>Opened Shop on <%=  date_string %></p>
    </div>
  </div>
</div>

<div class="row">
  <div id="items-box" class="well">
    <div id="items" class="panel">
      <%= @shop.items %>
    </div>
  </div>
</div>



<script type="application/javascript">
  $(function () {
    $("#favorite").on("click", function (event) {
      event.preventDefault();
      var shopId = $(event.target).data("id");
      
      $.ajax({
        url: "/shops/" + shopId + "/shop_favorite.json",
        type: "POST",
        data: { shop_id: shopId },
        success: function () {
          $("#favorite").toggleClass("hidden");
          $("#unfavorite").toggleClass("hidden");
        },
        error: function () {}
      });
    });
    
    $("#unfavorite").on("click", function (event) {
      event.preventDefault();
      var shopId = $(event.target).data("id");
      
      $.ajax({
        url: "/shops/" + shopId + "/shop_favorite.json",
        type: "DELETE",
        data: { shop_id: shopId },
        success: function (response) {
          $("#favorite").toggleClass("hidden");
          $("#unfavorite").toggleClass("hidden");
        }
      });
    });
  });
</script>