<% favorited = (current_user && current_user.favorite_shops.include?(@shop)) %>
<% date_string = "#{ Date::MONTHNAMES[@date.month] } 
                  #{ @date.mday }, #{ @date.year }" %>

<div class="row">
  <div id="shop-show-box" class="well pull-left">
    <div class="toolbar <%= 'hidden' unless current_user && 
                            (current_user.id == @shop.owner_id) %>">   
      <%= link_to "Add an Item", new_item_url %> |
      <%= link_to "Edit Shop", edit_shop_url(@shop) %>
    </div> 
    
    <h1>
      <%= @shop.name %>
      
      <button type="submit" 
        class="btn btn-default btn-fav fav shop-fav <%= 'hidden' if favorited %>"
        data-id="<%= @shop.id %>">
        ❤ Favorite
      </button>

      <button type="submit"
        id="unfavorite"
        class="btn btn-default btn-fav shop-fav unfav <%= 'hidden' unless favorited %>"
        data-id="<%= @shop.id %>">
        <span class="heart">❤</span> Favorited
      </button>
    </h1>
    
    <div id="shop-description" class="panel">
      <p><%= @shop.description %></p>
    </div>     
  </div>
  
  <div id="shop-owner-box" class="well pull-right">
    <h4>Shop Owner</h4>
    
    <div id="shop-owner-info" class="panel">
      <h4>
        <a href="<%= user_url(@shop.owner) %>"><%= @shop.owner.username %></a>
      </h4>
      
      <p class="text-muted">Opened Shop on <%=  date_string %></p>
    </div>
  </div>
</div>


<div id="shop-items-box" class="well">
  <div id="shop-items" class="panel">
    <% @items.each do |item| %>
      <%= render :partial => "items/listing", :locals => { :item => item } %>
    <% end %>
  </div>
  
  <div class="center"><%= paginate @items %></div>
  
  <p class="text-muted"><%= @shop.items.count %> Items</p>
</div>
