<div id="items-index" class="pull-right">
  <div id="items-index-well" class="well">
    <div class="btn-group">
      <button type="button"
        class="btn btn-info dropdown-toggle"
        data-toggle="dropdown">
        Sort By <span class="caret"></span></a>
      </button>
      <ul class="dropdown-menu" role="menu">
        <li><a href="#/most-recent">Most Recent</a></li>
        <li><a href="#/lowest-price">Lowest Price</a></li>
        <li><a href="#/highest-price">Highest Price</a></li>
      </ul>
    </div>
    
    <div id="items-index-box" class="panel">
      <% items.each(function (item) { %>
        <div class="listing-card">
          <a href="<%= item.url() %>" class="listing-thumb">
            <img src="<%= item.escape("listPhoto") %>"
              alt="<%= item.escape("title") %>">
          </a>
    
          <div class="caption">
            <a class="item-title-link" href="<%= item.url() %>">
              <%= item.escape("title")%>
            </a>
            
            <a href="<%= item.escape("shopUrl") %>" class="item-shop-link">
              <text class="text-muted"><%= item.escape("shopName") %></text>
            </a>
            
            <div class="item-listing-price">  
              $<%= item.escape("price") %>.00
            </div>
          </div>
        </div>
      <% }); %>
    </div>
  </div>
</div>
