<% @user ||= User.new %>
<% action = (@user.persisted? ? user_url(@user) : users_url) %>
<% method = (@user.persisted? ? "put" : "post") %>
<% message = (@user.persisted? ? "" : "Sign Up") %>


<form action="<%= action %>" method="post" role="form" class="col-md-7">
  <input
     name="_method"
     type="hidden"
     value="<%= method %>">
     
  <input
     name="authenticity_token"
     type="hidden"
     value="<%= form_authenticity_token %>">
  
  <div class="form-group">   
    <label for="user_email">Email</label>
    <input
      id="user_email"
      name="user[email]"
      type="email"
      class="form-control"
      value="<%= @user.email %>"
      placeholder="email@example.com">
  </div>

  <div class="form-group"> 
    <label for="user_username">Username</label>
    <input
       id="user_username"
       name="user[username]"
       type="text"
       class="form-control"
       value="<%= @user.username %>">
  </div>
  
  <% unless @user.persisted? %>
    <div class="form-group"> 
      <label for="user_password">Password</label>
      <input
         id="user_password"
         name="user[password]"
         type="password"
         class="form-control">
    </div>
  <% end %>
  
  <div class="form-group"> 
    <label for="user_about">About</label>
    <textarea
       id="user_about"
       name="user[about]"
       class="form-control"
       rows="5"
       placeholder="Tell people a little about yourself."
       ><%= @user.about %></textarea>
  </div>
  
  <div class="form-group"> 
    <label for="user_zipcode">Zipcode</label>
    <input
       id="user_zipcode"
       name="user[zipcode]"
       type="text"
       class="form-control"
       value="<%= @user.zipcode %>">
  </div>
  
  <% if @user.persisted? %>
    <button type='submit' class='btn btn-info'>Update</button>
  <% end %>
</form>