<% @user ||= User.new %>
<% action = (@user.persisted? ? user_url(@user) : users_url) %>
<% method = (@user.persisted? ? "put" : "post") %>
<% message = (@user.persisted? ? "Update" : "Sign Up") %>
<% form_id = (@user.persisted? ? "update-user-form" : "new-user-form")%>


<form action="<%= action %>"
  id="<%= form_id %>"
  method="post"
  role="form">
  <input
     name="_method"
     type="hidden"
     value="<%= method %>">
     
  <input
     name="authenticity_token"
     type="hidden"
     value="<%= form_authenticity_token %>">
  
  <div class="form-group">   
    <label for="user_email">Email</label>
    
    <input
      id="user_email"
      name="user[email]"
      type="email"
      class="form-control"
      required="true"
      value="<%= @user.email %>"
      placeholder="email@example.com">
  </div>

  <div class="form-group"> 
    <label for="user_username">Username</label>
    
    <input
       id="user_username"
       name="user[username]"
       type="text"
       class="form-control"
       required="true"
       value="<%= @user.username %>">
  </div>
  
  <div class="form-group"> 
    <label for="user_about">About</label>
    
    <textarea
       id="user_about"
       name="user[about]"
       class="form-control"
       rows="5"
       placeholder="Tell people a little about yourself."
       ><%= @user.about %></textarea>
       
    <small><em>(Optional)</em></small>
  </div>
  
  <div class="form-group"> 
    <label for="user_location">Location</label>
    
    <input
       id="user_location"
       name="user[location]"
       type="text"
       class="form-control"
       required="true"
       placeholder="eg. Oakland, CA"
       value="<%= @user.location %>">
  </div>
  
  <div class="form-group"> 
    <label for="user_password">Password</label>
    
    <input
       id="user_password"
       name="user[password]"
       type="password"
       required="true"
       class="form-control">
  </div>
  
  <br>
  <button type='submit' class='btn btn-info'><%= message %></button>
</form>