<% item_class = @shop ? '' : 'active' %>
<% shop_class = @shop ? 'active' : '' %>

<h1><a href="<%= user_url(@user) %>"><%= @user.username %>'s</a> Favorites</h1>

<div class="well">
  <ul class="switch-fav nav nav-tabs">
    <li id="show-items" class="<%= @shop ? '' : 'active' %>"><a>Items</a>
    <li id="show-shops" class="<%= @shop ? 'active' : '' %>"><a>Shops</a>
  </ul>

  <div class="panel">
    <div id="favorite-items" class="<%= @shop ? 'hidden' : '' %>">
      <%= @user.favorite_items %>
    </div>

    <div id="favorite-shops" class="<%= @shop ? '' : 'hidden' %>">
      <%= @user.favorite_shops %>
    </div>
  </div>
</div>



<script type="application/javascript">
  $(function () {
    $(".switch-fav").on("click", function (event) {
      event.preventDefault();
      
      $("#show-items").toggleClass("active");
      $("#show-shops").toggleClass("active");

      $("#favorite-items").toggleClass("hidden");
      $("#favorite-shops").toggleClass("hidden");
    });
  });
</script>