<h1><a href="<%= user_url(@user) %>"><%= @user.username %>'s</a> Favorites</h1>

<div class="well" id="favorites-show">
  <ul id="switch-fav" class= "nav nav-tabs">
    <li id="show-fav-items" class="<%= @shop_show ? '' : 'active' %>">
      <a href="">Items</a>
    </li>
    
    <li id="show-fav-shops" class="<%= @shop_show ? 'active' : '' %>">
      <a href="">Shops</a>
    </li>
  </ul>

  <div id="favorites-show-items" class="<%= @shop_show ? 'hidden' : '' %>">
    <div class="panel">
      <% @items.each do |item| %>
        <%= render :partial => 'items/listing', :locals => { :item => item } %>
      <% end %>
    </div>
  </div>

  <div id="favorites-show-shops" class="<%= @shop_show ? '' : 'hidden' %>">
    <div class="panel">
      <% @shops.each do |shop| %>
      <div class="row fav-shop-row">
        <div class="fav-shop-info">
          <h5><a href="<%= shop_url(shop) %>"><%= shop.name %></a></h5>

          <p class="text-muted"><%= shop.items.count %> Items</p>
        </div>
      
        <div class="fav-shop-owner">
          <h5>Shop Owner</h5>
        
          <p><%= link_to shop.owner.username, user_url(shop.owner) %></p>
        </div>
      
        <% shop.items.shuffle[0..4].each do |item|%>
          <a href="<%= item_url(item) %>" class="thumbnail">
            <img src="<%= item.primary_photo.url(:thumb) %>">
          </a>
        <% end %>
      </div>
      <% end %>
    </div>
  </div>
  
  <div class="page-links <%= @shop_show ? 'hidden' : '' %>">
    <%= paginate @items %>
  </div>
  
  <div class="page-links <%= @shop_show ? '' : 'hidden' %>" >
    <%= paginate @shops %>
  </div>
</div>