<% date_string = "#{ Date::MONTHNAMES[@date.month] } #{ @date.mday }, #{ @date.year }" %>

<div id="user-info">
  <h1><%= @user.username %></h1>
  
  <div id="toolbar">
    <% if current_user && (current_user.id == @user.id) %>
      <%= link_to "Edit Profile", edit_user_url(@user) %>
    <% end %>
  </div>
  
  <p><%= @user.about %></p>
  
  <p>Joined <%= date_string %></p>
</div>

<div id="favorite-items">
  <h3>Favorite Items</h3>
  <a href="<%= favorites_user_url(@user) %>">
    See More
  </a>
  <br><%= @user.favorite_items[0..7] %>
</div>

<div id="favorite-shops">
  <h3>Favorite Shops</h3>
  <% @user.favorite_shops[0..2].each do |s| %>
    <%= link_to s.name, shop_url(s) %>
    <%= s.items[0..3] %>
  <% end %>
</div>