<% date_string = "#{ Date::MONTHNAMES[@date.month] } #{ @date.mday }, #{ @date.year }" %>

<div id="user-info">
  <h1><%= @user.username %></h1>
  
  <div id="toolbar">
    <% if current_user && (current_user.id == @user.id) %>
      <%= link_to "Edit Profile", edit_user_url(@user) %>
    <% end %>
  </div>
  
  <p><%= @user.about %></p>
  
  <p>Joined <%= date_string %></p>
</div>

<div id="favorite-items">
  <h3>Favorite Items</h3>
  <a href="<%= favorites_user_url(@user) %>">
    See More
  </a>
  <br>TODO: LIST ITEMS
</div>

<div id="favorite-shops">
  <h3>Favorite Shops</h3>
  TODO: LIST SHOPS
</div>