<% date_string = "#{ Date::MONTHNAMES[@date.month] } #{ @date.mday }, #{ @date.year }" %>

<h1><%= @user.username %></h1> 

<div class="toolbar <%= 'hidden' unless current_user && (current_user.id == @user.id) %>">
    <%= link_to "Edit Profile", edit_user_url(@user) %>
</div>

<div class="col-xs-6 pull-left">
  <div id="user-box" class="well">
    <h4>About</h4>
    
    <div id="user-info" class="panel">
      <p><%= @user.about %></p>
      
      <p class="text-muted">Joined <%= date_string %></p>
    </div>
  </div>

  <% if @user.shop %>
    <div id="shop-box" class="well">
      <h4>Shop</h4>
    
      <a href="<%= shop_url(@user.shop) %>">
        See More
      </a>
    
      <div id="shop-items" class="panel">        
        <div class="row">
          <% @user.shop.items.each_with_index do |item, i|%>
            <div class="col-xs-3">
              <a href="<%= item_url(item) %>" class="thumbnail">
                <img src="<%= item.primary_photo.url(:thumb) %>">
              </a>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>

<div class="col-xs-6 pull-right">
  <div id="favorite-item-box" class="well">
    <h4>Favorite Items</h4>
    
    <a href="<%= favorites_user_url(@user) %>">
      See More
    </a>    
    
    <div id="favorite-items" class="panel">
      <div class="row">
        <% @user.favorite_items.each_with_index do |item, i|%>
          <div class="col-xs-3">
            <a href="<%= item_url(item) %>" class="thumbnail">
              <img src="<%= item.primary_photo.url(:thumb) %>">
            </a>
          </div>
        <% end %>
      </div>
      <p class="text-muted"><%= @user.favorite_items.count %> Items</p>
    </div>
  </div>
  
  <div id="favorite-shop-box" class="well">
    <h4>Favorite Shops</h4>
    
    <a href="<%= favorites_user_url(@user) %>?shop=true">
      See More
    </a>
    
    <div id="favorite-shops" class="panel">
      <% @user.favorite_shops[0..2].each do |shop| %>
        <h5><%= link_to shop.name, shop_url(shop) %></h5>
        
        <div class="row">
          <% shop.items.each_with_index do |item, i|%>
          <% return if i == 4 %>
            <div class="col-xs-3">
              <a href="<%= item_url(item) %>" class="thumbnail">
                <img src="<%= item.primary_photo.url(:thumb) %>">
              </a>
            </div>
          <% end %>
        </div>
        
        <p class="text-muted"><%= shop.items.count %> Items</p>
        <br>
      <% end %>
    </div>
  </div>
</div>