<% date_string = "#{ Date::MONTHNAMES[@date.month] } 
                  #{ @date.mday }, #{ @date.year }" %>

<h1><%= @user.username %></h1> 

<div class="toolbar <%= 'hidden' unless current_user && 
                        (current_user.id == @user.id) %>">
  <%= link_to "Edit Profile", edit_user_url(@user) %>
</div>

<div class="pull-left">
  <div id="user-box" class="user-show-left well">
    <h4>About</h4>
    
    <div id="user-about" class="panel">
      <p><%= @user.about %></p>
      
      <p class="text-muted">Joined <%= date_string %></p>
    </div>
  </div>

  <% if @user.shop %>
    <div id="user-shop-box" class="user-show-left well">
      <h4 class="see-more">Shop</h4>
      
      <a href="<%= shop_url(@user.shop) %>">
        <small>See More</small>
      </a>
    
      <div id="user-shop-items" class="panel">      
        <% @user.shop.items.shuffle[0..14].each do |item| %>
          <a href="<%= item_url(item) %>" class="thumbnail">
            <img src="<%= item.primary_photo.url(:thumb) %>">
          </a>
        <% end %>
      </div>
    </div>
  <% end %>
</div>

<div class="pull-right">
  <div id="user-favorite-items-box" class="well user-show-right">
    <h4 class="see-more">Favorite Items</h4>
    
    <a href="<%= favorites_user_url(@user) %>">
      <small>See More</small>
    </a>    
    
    <div id="user-favorite-items" class="panel">
      <% @user.favorite_items.shuffle[0..7].each do |item| %>
        <a href="<%= item_url(item) %>" class="thumbnail">
          <img src="<%= item.primary_photo.url(:thumb) %>">
        </a>
      <% end %>
      
      <p class="text-muted"><%= @user.favorite_items.count %> Items</p>
    </div>
  </div>
  
  <div id="user-favorite-shops-box" class="well user-show-right">
    <h4 class="see-more">Favorite Shops</h4>
    
    <a href="<%= favorites_user_url(@user) %>?shop=true">
      <small>See More</small>
    </a>
    
    <div id="user-favorite-shops" class="panel">
      <% @user.favorite_shops.shuffle[0..2].each do |shop| %>
        <h5><%= link_to shop.name, shop_url(shop) %></h5>       

          <% shop.items.shuffle[0..3].each do |item|%>
            <a href="<%= item_url(item) %>" class="thumbnail">
              <img src="<%= item.primary_photo.url(:thumb) %>">
            </a>
          <% end %>

        <p class="text-muted"><%= shop.items.count %> Items</p>
      <% end %>
    </div>
  </div>
</div>