<div class="panel col-xs-9 cart-item <%= item.id %>">
  <a href="/items/<%= item.id %>">
    <img src="<%= item.primary_photo.url(:list) %>">
  </a>
  
  <div class="cart-item-content">
    <div class="cart-item-info">
      <div><%= link_to item.title, item_url(item) %></div>
    
      <div>$<%= item.price %>.00</div>    
    </div>
    
    <a href="" data-id="<%= item.id %>" class="remove-cart">
      <small>Remove</small>
    </a>
  </div>
</div>
