<h3 class="col-xs-8">
  <span id="cart-num-items"><%= @items.size %></span> Items in Your Cart
  <a class="btn btn-info pull-right" href="/">
    <span>Keep Shopping</span>
  </a>
</h3>


<% @shops.each do |shop, items| %>
  <div class="well col-xs-7 cart-shop <%= shop.id %>">
    <h5>
      Order from <%= link_to shop.name, shop_url(shop) %>
      <t class="subtotal">
        Total: $<span class="shop-total"><%= items.map{ |item| item.price }.inject(:+) %></span>.00
      </t>
    </h5>

    <% items.each do |item| %>
      <%= render :partial => 'cart_item', :locals => { :item => item } %>
    <% end %>
    <div class="shop-checkout">
      <button type="submit" 
        class="btn btn-success checkout"
        data-id="<%= shop.id %>">
        Checkout
      </button>
    </div>
  </div>
<% end %>