<% action = @item.persisted? ? item_url(@item) : items_url %>
<% method = @item.persisted? ? "put" : "post" %>
<% button_text = @item.persisted? ? "Update" : "List" %>

<form action="<%= action %>" method="post">
  <input
     type="hidden"
     name="_method"
     value="<%= method %>">
        
  <input
     type="hidden"
     name="authenticity_token"
     value="<%= form_authenticity_token %>">

  <label for="item_title">Title</label>
  <input
     type="text"
     id="item_title"
     name="item[title]"
     value="<%= @item.title %>">   
  <br>
  
  <br>
  <label for="item_category">Category</label>
  <br>
  <select id="item_category" name="item[category_id]">
    <option>Select a category...</option>
    <% Category.all.each do |cat| %>
      <option value="<%= cat.id %>"><%= cat.title %></option>
    <% end %>
  </select>
  <br>
  
  <br>
  <label for="item_era">Era</label>
  <br>
  <select id="item_era" name="item[era_id]">
    <option>Select an era...</option>
    <% Era.all.sort{ |x, y| y <=> x }.each do |era| %>
      <option value="<%= era.id %>"><%= era.decade %></option>
    <% end %>
  </select>
  <br>
  
  <br>
  <label for="item_description">Description</label>
  <br>
  <textarea
     id="item_description"
     name="item[description]"
     rows="10"
     cols="50"><%= @item.description || "Tell the item's story and try to answer questions shoppers will have." %>
  </textarea>
  <br>
  
  <br>
  <label for="item_price">Price $</label>
  <input
     type="text"
     id="item_price"
     name="item[price]"
     value="<%= @item.price %>">
  <br>
  
  <br>
  <input type="submit" value="<%= button_text %>">
</form>