<% action = @item.persisted? ? item_url(@item) : items_url %>
<% method = @item.persisted? ? "put" : "post" %>
<% button_text = @item.persisted? ? "Update" : "List" %>
<% cat_select = @item.persisted? ? @item.category.id : nil %>
<% era_select = @item.persisted? ? @item.era.id : nil %>

<form action="<%= action %>" method="post" role="form" class="col-md-7">
  <input type="hidden" name="_method" value="<%= method %>">
        
  <input
     type="hidden"
     name="authenticity_token"
     value="<%= form_authenticity_token %>">

  <div class="form-group"> 
    <label for="item_title">Title</label>
    <input
       type="text"
       id="item_title"
       name="item[title]"
       class="form-control"
       value="<%= @item.title %>">   
  </div>
  
  <div class="form-group"> 
    <label for="item_category">Category</label>
    
    <select id="item_category" name="item[category_id]" class="form-control">
      <option>Select a category...</option>
      
      <% Category.all.each do |cat| %>
        <option value="<%= cat.id %>"
          <%= (cat.id == cat_select) ? "selected='selected'" : "" %>>
            <%= cat.title %>
        </option>
      <% end %>
      
    </select>
  </div>
  
  <div class="form-group"> 
    <label for="item_era">Era</label>
    
    <select id="item_era" name="item[era_id]" class="form-control">
      <option>Select an era...</option>
      
      <% Era.all.sort{ |x, y| y <=> x }.each do |era| %>
        <option value="<%= era.id %>"
          <%= (era.id == era_select) ? "selected='selected'" : "" %>>
            <%= era.decade %>
        </option>
      <% end %>
      
    </select>
  </div>
  
  <div class="form-group"> 
    <label for="item_description">Description</label>
    
    <textarea
       id="item_description"
       name="item[description]"
       class="form-control"
       rows="10"
       placeholder="Tell the item's story and try to answer questions shoppers will have."
       ><%= @item.description %></textarea>
  </div>
  
  <div class="form-group">
    <label for="item_price">Price</label>
    
    <div class="input-group"> 
      <span class="input-group-addon">$</span>
      
      <input
         type="text"
         id="item_price"
         name="item[price]"
         class="form-control"
         placeholder="0"
         value="<%= @item.price %>">
         
      <span class="input-group-addon">.00</span>
    </div>
  </div>  

  <button type="submit" class="btn btn-info"><%= button_text %></button>
</form>