<div class="listing-card">
  <a href="<%= item_url(item) %>" class="listing-thumb">
    <img class="img-responsive" src="<%= item.primary_photo.url(:list) %>" alt="<%= item.title %>">
  </a>
  
  <div class="caption">
    <a class="pull-left" href="<%= item_url(item) %>">
      <%= item.title %>
    </a>
    <div>
      <a href="<%= shop_url(item.shop) %>">
        <text class="text-muted pull-left"><%= item.shop.name %></text>
      </a>
      <t class="pull-right">$<%= item.price %>.00</t>
    </div>
  </div>
</div>