<% fav_item = (current_user && current_user.favorite_items.include?(@item)) %>
<% fav_shop = (current_user && current_user.favorite_shops.include?(@item.shop)) %>

<div class="row">
  <div id="photo-box" class="col-md-6 pull-left">
    TODO: ITEM PHOTOS
  </div>
  
  <div id="item-box" class="col-md-5 well pull-right">
    <div id="item-info" class="panel">
      <div id="toolbar">
        <% if current_user && (current_user.id == @item.owner.id) %>
          <%= link_to "Edit Item", edit_item_url(@item) %>
        <% end %>
      </div>
      
      <h1><%= @item.title %></h1>

      <p class="lead"><%= @item.era.decade %></p>

      <h3>$<%= @item.price %></h3>
    </div>
    
    <button type="submit" class="btn btn-success">Add to Cart</button>
    
    <button type="submit"
      class="btn btn-default btn-fav fav item <%= 'hidden' if fav_item %>"
      data-id="<%= @item.id %>">
        ❤ Favorite
    </button>

    <button type="submit"
      class="btn btn-default btn-fav unfav item <%= 'hidden' unless fav_item %>"
      data-id="<%= @item.id %>">
        ❤ Favorited
    </button>
    <t class="text-muted"><%= @item.item_favorites.count %> Admirers</t>
  </div>
</div>

<div class="row">
  <div id="description-box" class="col-md-6 well pull-left">
    <h4>Details</h4>
    
    <div id="item-description" class="panel">
      <p><%= @item.description %></p>
    </div>
  </div>


  <div id="shop-box" class="col-md-5 well pull-right">
    <h3>
      <a href="<%= shop_url(@item.shop) %>"><%= @item.shop.name %></a>
      
      <button type="submit" 
        class="btn btn-default btn-fav fav shop <%= 'hidden' if fav_shop %>"
        data-id="<%= @item.shop.id %>">
          ❤ Favorite
      </button>

      <button type="submit"
        class="btn btn-default btn-fav unfav shop <%= 'hidden' unless fav_shop %>"
        data-id="<%= @item.shop.id %>">
          ❤ Favorited
      </button>
    </h3>
  
    <div id="shop-items" class="panel">
      <%= @item.shop.items %>
    </div>
  </div>
</div>