<% fav_item = (current_user && current_user.favorite_items.include?(@item)) %>
<% fav_shop = (current_user && current_user.favorite_shops.include?(@item.shop)) %>

<div class="col-xs-7 pull-left">
  <div id="photo-box" class="well">
    <div id="display-box" class="panel">
      <img data-ord="1"
        class="img-responsive img-rounded display-photo"
        src="<%= @item.primary_photo.url %>"
        alt="<%= @item.title %>"
        display="block">
        
      <img data-ord="2"
        class="img-responsive img-rounded hidden display-photo"
        src="<%= @item.detail_photo_1.url %>"
        alt="<%= @item.title %>"
        display="block">
        
      <img data-ord="3"
        class="img-responsive img-rounded hidden display-photo"
        src="<%= @item.detail_photo_2.url %>"
        alt="<%= @item.title %>"
        display="block">
      
      <img data-ord="4"
        class="img-responsive img-rounded hidden display-photo"
        src="<%= @item.detail_photo_3.url %>"
        alt="<%= @item.title %>"
        display="block">
    </div>
    
    <div id="detail-thumbs" class="row">
      <div class="col-xs-3">
        <a href="" data-id="1" class="thumbnail active display-option">
          <img src="<%= @item.primary_photo.url(:thumb) %>">
        </a>
      </div>
      
      <div class="col-xs-3 <%= 'hidden' unless @item.detail_photo_1.exists? %>">
        <a href="" data-id="2" class="thumbnail display-option">
          <img src="<%= @item.detail_photo_1.url(:thumb) %>">
        </a>
      </div>
      
      <div class="col-xs-3 <%= 'hidden' unless @item.detail_photo_2.exists? %>">
        <a href="" data-id="3" class="thumbnail display-option">
          <img src="<%= @item.detail_photo_2.url(:thumb) %>">
        </a>
      </div>
      
      <div class="col-xs-3 <%= 'hidden' unless @item.detail_photo_3.exists? %>">
        <a href="" data-id="4" class="thumbnail display-option">
          <img src="<%= @item.detail_photo_3.url(:thumb) %>">
        </a>
      </div>
    </div>
  </div>
  
  <div id="description-box" class="well">
    <h4>Details</h4>
    
    <div id="item-description" class="panel">
      <p><%= @item.description %></p>
    </div>
  </div>
</div>

<div class="col-xs-5 pull-right">
  <div id="item-box" class="well">
    <div id="item-info" class="panel">
      <div class="toolbar <%= 'hidden' unless current_user &&
                              (current_user.id == @item.owner.id) %>">
        <%= link_to "Edit Item", edit_item_url(@item) %>
      </div>
      
      <h1><%= @item.title %></h1>

      <p class="lead"><%= @item.era.decade %></p>

      <h3>$<%= @item.price %></h3>
    </div>
    
    <button type="submit" class="btn btn-success">Add to Cart</button>
    
    <button type="submit"
      class="btn btn-default btn-fav fav item <%= 'hidden' if fav_item %>"
      data-id="<%= @item.id %>">
      ❤ Favorite
    </button>

    <button type="submit"
      class="btn btn-default btn-fav unfav item <%= 'hidden' unless fav_item %>"
      data-id="<%= @item.id %>">
      ❤ Favorited
    </button>
    
    <t class="text-muted"><%= @item.item_favorites.count %> Admirers</t>
  </div>


  <div id="shop-box" class="well">
    <h3>
      <a href="<%= shop_url(@item.shop) %>"><%= @item.shop.name %></a>
      
      <button type="submit" 
        class="btn btn-default btn-fav fav shop <%= 'hidden' if fav_shop %>"
        data-id="<%= @item.shop.id %>">
        ❤ Favorite
      </button>

      <button type="submit"
        class="btn btn-default btn-fav unfav shop <%= 'hidden' unless fav_shop %>"
        data-id="<%= @item.shop.id %>">
        ❤ Favorited
      </button>
    </h3>
  
    <div id="shop-items" class="panel">
      <% @item.shop.items.each do |item| %>
        <%= render :partial => 'listing', :locals => { :item => item } %>
      <% end %>
    </div>
  </div>
</div>