<h1><%= @item.title %></h1>

<p><%= @item.era.decade %> | $<%= @item.price %></p>

<p><%= @item.description %></p>
<br>
<br>
<% if current_user && (current_user.id == @item.owner.id) %>
  <%= link_to "Edit", edit_item_url(@item) %>
<% end %>