<% fav_item = (current_user && current_user.favorite_items.include?(@item)) %>
<% fav_shop = (current_user && current_user.favorite_shops.include?(@item.shop)) %>

<div class="pull-left">
  <div id="item-display-box" class="well item-show-left">
    <%= render :partial => 'carousel', :locals => { :item => @item } %>
    
    <div id="item-display-thumbs">
        <a href=""
          data-target="#item-display"
          data-slide-to="0"
          class="thumbnail">
          <img src="<%= @item.primary_photo.url(:thumb) %>">
        </a>

      <% if @item.detail_photo_1.exists? %>
        <a href=""
          data-target="#item-display"
          data-slide-to="1"
          class="thumbnail">
          <img src="<%= @item.detail_photo_1.url(:thumb) %>">
        </a>
      <% end %>
      
      <% if @item.detail_photo_2.exists? %>
        <a href=""
          data-target="#item-display"
          data-slide-to="2"
          class="thumbnail">
          <img src="<%= @item.detail_photo_2.url(:thumb) %>">
        </a>
      <% end %>
      
      <% if @item.detail_photo_3.exists? %>
        <a href=""
          data-target="#item-display"
          data-slide-to="3"
          class="thumbnail">
          <img src="<%= @item.detail_photo_3.url(:thumb) %>">
        </a>
      <% end %>
    </div>
  </div>
  
  <div id="item-description-box" class="well item-show-left">
    <h4>Details</h4>
    
    <div id="item-description" class="panel">
      <p><%= @item.description %></p>
    </div>
  </div>
</div>

<div class="pull-right">
  <div id="item-info-box" class="well item-show-right">
    <div id="item-info" class="panel">
      <div class="toolbar <%= 'hidden' unless current_user &&
                              (current_user.id == @item.owner.id) %>">
        <%= link_to "Edit Item", edit_item_url(@item) %>
      </div>
      
      <h1><%= @item.title %></h1>

      <p class="lead"><%= @item.era.decade %></p>

      <h3>$<%= @item.price %></h3>
    </div>
    
    <button type="submit" class="btn btn-success">Add to Cart</button>
    
    <button type="submit"
      class="btn btn-default btn-fav fav item-fav <%= 'hidden' if fav_item %>"
      data-id="<%= @item.id %>">
      ❤ Favorite
    </button>

    <button type="submit"
      class="btn btn-default btn-fav unfav item-fav <%= 'hidden' unless fav_item %>"
      data-id="<%= @item.id %>">
      <span class="heart">❤</span> Favorited
    </button>
    
    <t class="text-muted">
      <t id="fav-count"><%= @item.item_favorites.count %></t> Admirers
    </t>
  </div>


  <div id="item-shop-box" class="well item-show-right">
    <h5>
      <a href="<%= shop_url(@item.shop) %>"><%= @item.shop.name %></a>
      
      <button type="submit" 
        class="btn btn-default btn-fav fav shop-fav <%= 'hidden' if fav_shop %>"
        data-id="<%= @item.shop.id %>">
        ❤ Favorite
      </button>

      <button type="submit"
        class="btn btn-default btn-fav unfav shop-fav <%= 'hidden' unless fav_shop %>"
        data-id="<%= @item.shop.id %>">
        <span class="heart">❤</span> Favorited
      </button>
    </h5>
  
    <div id="item-shop-items" class="panel">
      <% @item.shop.items.each do |item| %>
        <%= render :partial => 'listing', :locals => { :item => item } %>
      <% end %>
    </div>
  </div>
</div>