<% favorited = current_user.favorite_items.include?(@item) %>

<div id="item-info">
  <h1><%= @item.title %></h1>

  <div id="toolbar">
    <% if current_user && (current_user.id == @item.owner.id) %>
      <%= link_to "Edit Item", edit_item_url(@item) %>
    <% end %>
  </div>
  
  <h4><%= @item.era.decade %> | $<%= @item.price %></h4>
  <%= button_to "Add to Cart" %>

  <br>
  <input type="submit" 
        class="favorite <%= 'hidden' if favorited %>"
      data-id="<%= @item.id %>"
        value="❤ Favorite">

  <input type="submit" 
        class="unfavorite <%= 'hidden' unless favorited %>"
      data-id="<%= @item.id %>"
        value="❤ Favorited">
  <br>
</div>

<div id="desciption">
  <h4>Details</h4>
  <p><%= @item.description %></p>
</div>

<div id="shop-info">
  <h3>More from
    <a href="<%= shop_url(@item.shop) %>">
      <%= @item.shop.name %>
    </a>
  </h3>
  TODO: LIST ITEMS
</div>



<script type="application/javascript">
  $(function () {
    $(".favorite").on("click", function (event) {
      event.preventDefault();
      var itemId = $(event.target).data("id");
      
      $.ajax({
        url: "/items/" + itemId + "/item_favorite.json",
        type: "POST",
        data: { item_id: itemId },
        success: function (response) {
          $(".favorite").toggleClass("hidden");
          $(".unfavorite").toggleClass("hidden");
        }
      });
    });
    
    $(".unfavorite").on("click", function (event) {
      event.preventDefault();
      var itemId = $(event.target).data("id");
      
      $.ajax({
        url: "/items/" + itemId + "/item_favorite.json",
        type: "DELETE",
        data: { item_id: itemId },
        success: function (response) {
          $(".favorite").toggleClass("hidden");
          $(".unfavorite").toggleClass("hidden");
        }
      });
    });
  });
</script>