<!DOCTYPE html>
<html>
<head>
  <title>VintageVantage</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>

<body>
  <nav class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
      <button type="button"
        class="navbar-toggle"
        data-toggle="collapse"
        data-target=".navbar-collapse">
        
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      
      <a class="navbar-brand" href="<%= root_url %>">Vintage Vantage</a>
    </div>
  
    <div class="collapse navbar-collapse">
      <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text"
            class="form-control"
            placeholder="Find items & shops">
        </div>
        
        <button type="submit" class="btn btn-info">Search</button>
      </form>

    
      <ul id="user-nav"
        class="nav navbar-nav navbar-right <%= 'hidden' unless current_user %>">
        <li><%= link_to "Sign Out", session_url , :method => :delete %></li>
      </ul>
      
      <ul id="anon-nav"
        class="nav navbar-nav navbar-right <%= 'hidden' if current_user %>">
          <li><%= link_to "Join Us", new_user_url %></li>
          <li><a data-toggle="modal" data-target="#auth-modal">Sign In</a></li>
      </ul>
    </div>
  </nav>

  <%= render 'sessions/modal' %>
    
  <div class="container"><%= yield %></div>
</body>
</html>



<script type="text/json" id="current-user">
  <%= current_user.to_json.html_safe %>
</script>

<script type="text/json" id="current-shop">
  <% if current_user %>
    <%= current_user.shop.to_json.html_safe %>
  <% end %>
</script>