<!DOCTYPE html>
<html>
<head>
  <title>VintageVantage</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= link_to "Vintage Vantage", root_url %>
  <br>
  <% if current_user %>
    Hi,
    <%= link_to current_user.username, user_url(current_user) %>.
    //
    <% if current_user.shop %>
      <%= link_to "Your Shop", shop_url(current_user.shop) %>
    <% else %>
      <%= link_to "Open a Shop", new_shop_url %>
    <% end %>
    //
    <%= link_to "Sign Out", session_url, :method => :delete %>
  <% else %>
    <%= link_to "Join Us", new_user_url %>
    //
    <%= link_to "Sign In", new_session_url %>
  <% end %>

<%= yield %>

</body>
</html>
